.btn-add-new {
  margin: 5vh;
}

.modal-parent-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
}

.modal-child-div {
  position: relative;
  top: 15%;
  width: 60vw;
  height: 70vh;
  background-color: white;
  padding: 20px;
  z-index: 1001;
  overflow: auto;
}
