.btn-add-new {
  margin: 5vh;
}

.modal-parent-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
}

.modal-child-div {
  position: relative;
  top: 15%;
  width: 60vw;
  height: 70vh;
  background-color: white;
  padding: 20px;
  z-index: 1001;
  overflow: auto;
}

.add-new-link-container {
  background-color: rgb(168, 182, 197);
}

.main-content {
  background-color: #f8f9fa; /* Change this to your desired color */
  flex-grow: 1;
  padding: 20px;
}

.cards-container {
  background-color: rgb(16, 46, 77);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  padding: 20px;
}

.card {
  position: relative;
}

.card-body {
  text-align: center;
}

.card-text[title]:hover::after {
  content: attr(title);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: pre-line;
  z-index: 1;
  width: 250px;
  text-align: left;
}
